<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Exclude existing files and directories from the rewrite rule
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all other requests to the index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>