<IfModule mod_rewrite.c>
    # disabling directory listing to avoid unnecessary misuse
    Options All -Indexes

    RewriteEngine On
    RewriteBase /

    # Exclude existing files and directories from the rewrite rule
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all other requests to the home.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>